
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
  }
  pre {
    @apply whitespace-pre-wrap text-sm md:text-base;
  }
}

@layer utilities {
  .clip-path-inclinated {
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }
  .clip-path-flag {
    clip-path: polygon(50% 100%, 100% 0, 100% 100%, 0% 100%, 0% 0%);
  }
  .ribbon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(13.397459%, -100%) rotate(30deg); /* translateX: 100%*(1-cos(angleRotation) */
    transform-origin: bottom left;
  }
  .link {
    @apply font-semibold text-purple transition-colors duration-300 hover:bg-green/50;
  }
  .footer-link {
    @apply font-semibold text-green transition-all underline decoration-transparent underline-offset-2 duration-300 hover:decoration-green;
  }
  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .sidebar ul {
    @apply flex flex-col gap-4;
  }
  section {
    @apply overflow-x-clip;
  }
  blockquote:has(.tip) {
    @apply border-l-green;
  }
  blockquote:has(.note) {
    @apply border-l-[#3d68ce];
  }
  blockquote:has(.warning) {
    @apply border-l-[#db472a];
  }
  blockquote:has(.important) {
    @apply border-l-purple;
  }
  blockquote:has(.caution) {
    @apply border-l-[#c1050a];
  }
}