<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ i18n "metadescription" }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@dunglas" />
    <meta name="twitter:creator" content="@dunglas" />
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
    {{ range .Translations }}
      <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
    {{ end }}
    <meta
      name="twitter:title"
      content="{{ i18n "metatitle" }}"
    />
    <meta
      name="twitter:description"
      content="{{ i18n "metadescription" }}"
    />
    <meta name="twitter:image" content="https://frankenphp.dev/card.png" />
    <meta name="og:image" content="https://frankenphp.dev/card.png" />
    <meta name="og:title" content="{{ i18n "metatitle" }}" />
    <meta
      name="og:description"
      content="{{ i18n "metadescription" }}"
    />
    <title>{{ i18n "metatitle" }}</title>
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="stylesheet" href="/style/output.css" />
    <link rel="stylesheet" href="/style/syntax.css" />
    <script src="/js/parallax.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"
      rel="stylesheet"
    />
    {{ block "head" . }}{{ end }}
  </head>
  <body class="min-h-[100vh] overflow-x-hidden">
    <div>
      {{ partial "nav.html" . }}
      {{ block "main" . }}{{ end }}
    </div>
    <footer
      class="relative bg-purple-dark min-h-[72px] pt-8 pb-12 text-purple text-center before:bg-purple-dark before:clip-path-flag before:w-full before:h-12 before:absolute before:top-px before:transform before:-translate-y-full before:left-0 | lg:before:h-24"
    >
      <img
        src="/img/elephant_footer.svg"
        alt=""
        class="h-20 w-20 absolute bottom-full left-1/2 transform translate-y-[0.5px] -translate-x-1/2"
      />
      <p class="text-sm text-white mb-1">
        {{ $owner := "<a class=\"footer-link\" href=\"https://dunglas.dev/\" target=\"_blank\" rel=\"noreferrer noopener\">Kévin Dunglas</a>" }}
        {{ $apiPlatform := "<a href=\"https://api-platform.com\" class=\"footer-link\" target=\"_blank\" rel=\"noreferrer noopener\">API Platform</a>" }}
        {{ $symfony := "<a href=\"https://symfony.com\" target=\"_blank\" rel=\"noreferrer noopener\" class=\"footer-link\">Symfony</a>" }}
        {{ replace (replace (replace (i18n "footer.owner") "%owner%" $owner) "%api-platform%" $apiPlatform) "%symfony%" $symfony | safeHTML }}
      </p>
      <p class="text-sm text-white mb-1">
        {{ replace (i18n "footer.design") "%designer%" "<a class=\"footer-link\" href=\"https://github.com/ginifizz\" target=\"_blank\" rel=\"noreferrer noopener\">Laury Sorriaux</a>" | safeHTML }}
      </p>
      <p class="text-xs text-white">
        {{ replace (i18n "footer.sponsor") "%sponsor%" "<a class=\"footer-link\" href=\"https://les-tilleuls.coop/en\" target=\"_blank\" rel=\"noreferrer noopener\">Les-Tilleuls.coop</a>" | safeHTML }}
      </p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        docsearch({
          container: "#docsearch",
          appId: "BXUBZVECND",
          indexName: "frankenphp",
          apiKey: "57b6245de6ff6ca5d345bb85d6db42c9",
          {{ if (eq hugo.Environment "development") }}debug: true,{{ end }}
          searchParameters: {
            facetFilters: ['lang:{{ .Lang }}'],
          },
        });
      });
    </script>
  </body>
</html>
