{{ define "main" }}
  {{ with index .Site.Data .Site.Language.Lang "help" }}
    <div class="mx-auto overflow-x-clip pb-40 pt-16 min-h-screen lg:pt-[104px]">
      <section
        class="bg-gradient-to-b from-purple-dark to-purple relative pb-12"
      >
        <div class="container relative max-w-2xl text-center py-24">
          <div
            id="lightning"
            class="absolute w-64 top-1/2 -translate-y-1/2 hidden lg:block right-full"
          >
            <img src="/img/lightning.svg" class="-translate-x-1/2" alt="" />
          </div>
          <div class="text-lg uppercase text-purple-light">
            {{ .hero.overtitle | safeHTML }}
          </div>
          <h1 class="text-6xl font-bold text-white mb-8">
            {{ .hero.title | safeHTML }}
          </h1>
          <p class="text-white text-base leading-relaxed text-center">
            {{ .hero.content | safeHTML }}
          </p>
          <a
            target="blank"
            href="mailto:contact@les-tilleuls.coop"
            class="relative text-purple text-lg py-2 px-4 mt-8 inline-block font-bold transition-all duration-300 before:pointer-events-none before:transition-all before:duration-300 before:z-0 before:bg-green before:w-full before:h-full before:absolute-center after:z-0 after:absolute-center after:w-full after:h-full after:pointer-events-none after:border-2 after:border-green/0 after:scale-150 after:transition-all after:duration-300 hover:before:scale-50 hover:before:bg-green/0 hover:after:border-green hover:after:scale-100 hover:text-green"
          >
            <span class="relative">{{ .hero.button }}</span>
          </a>
        </div>
        <div
          class="absolute bottom-0 left-0 w-full overflow-hidden leading-none rotate-180"
        >
          <svg
            data-name="Layer 1"
            class="relative block w-[calc(100%+1.3px)] h-16 fill-white"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
          >
            <path
              d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
              opacity=".25"
              class="shape-fill"
            ></path>
            <path
              d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
              opacity=".5"
              class="shape-fill"
            ></path>
            <path
              d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
              class="shape-fill"
            ></path>
          </svg>
        </div>
      </section>
      <section class="py-24">
        <div
          class="container max-w-5xl flex flex-col md:flex-row items-center gap-12"
        >
          <div>
            <img
              src="/img/migration.svg"
              alt=""
              class="w-56 md:w-full max-w-sm"
            />
          </div>
          <div class="flex-1 text-center md:text-left">
            <h2 class="text-4xl font-bold text-purple">
              {{ .migration.title | safeHTML }}
            </h2>
            <p class="mt-4 text-md leading-loose">
              {{ .migration.content | safeHTML }}
            </p>
            <a
              target="blank"
              href="mailto:contact@les-tilleuls.coop"
              class="relative text-purple text-lg py-2 px-4 mt-8 inline-block font-bold transition-all duration-300 before:pointer-events-none before:transition-all before:duration-300 before:z-0 before:bg-green before:w-full before:h-full before:absolute-center after:z-0 after:absolute-center after:w-full after:h-full after:pointer-events-none after:border-2 after:border-green/0 after:scale-150 after:transition-all after:duration-300 hover:before:scale-50 hover:before:bg-green/0 hover:after:border-purple hover:after:scale-100 hover:text-purple"
            >
              <span class="relative">{{ .migration.button }}</span>
            </a>
          </div>
        </div>
      </section>
      <section class="pt-24 pb-24 bg-gray-100 relative">
        <div
          class="container max-w-5xl flex flex-col md:flex-row items-center gap-12"
        >
          <div class="flex-1 text-center md:text-left">
            <h2 class="text-4xl font-bold text-purple">
              {{ .hosting.title | safeHTML }}
            </h2>
            <p class="mt-4 text-md leading-loose">
              {{ .hosting.content | safeHTML }}
            </p>
            <a
              target="blank"
              href="https://les-tilleuls.coop/en/cloud-security"
              class="relative text-purple text-lg py-2 px-4 mt-8 inline-block font-bold transition-all duration-300 before:pointer-events-none before:transition-all before:duration-300 before:z-0 before:bg-green before:w-full before:h-full before:absolute-center after:z-0 after:absolute-center after:w-full after:h-full after:pointer-events-none after:border-2 after:border-green/0 after:scale-150 after:transition-all after:duration-300 hover:before:scale-50 hover:before:bg-green/0 hover:after:border-purple hover:after:scale-100 hover:text-purple"
            >
              <span class="relative">{{ .hosting.button }}</span>
            </a>
          </div>
          <div class="w-1/2">
            <img src="/img/bellboy.svg" alt="" class="w-full" />
          </div>
        </div>
        <div
          class="absolute bottom-0 left-0 w-full overflow-hidden leading-none rotate-180"
        >
          <svg
            class="block relative w-[calc(100%+1.3px)] h-16"
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
          >
            <path
              d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
              class="fill-white"
            ></path>
          </svg>
        </div>
      </section>
      <section class="py-24 relative z-20">
        <div class="container max-w-6xl text-center">
          <h2 class="text-4xl font-bold text-purple">
            {{ .services.title | safeHTML }}
          </h2>
          <div class="flex flex-col md:flex-row items-center gap-12 mt-8">
            <div class="w-full max-w-lg md:w-1/2 lg:max-w-xl lg:w-3/5">
              {{ partial "help/logos.html" . }}
            </div>
            <div class="flex-1 text-center md:text-left">
              <p class="mt-4 text-md leading-loose">
                {{ .services.content | safeHTML }}
              </p>
              <a
                target="blank"
                href="https://les-tilleuls.coop/en"
                aria-label="Read more about Les-Tilleuls.coop"
                class="relative text-purple text-lg py-2 px-4 mt-8 inline-block font-bold transition-all duration-300 before:pointer-events-none before:transition-all before:duration-300 before:z-0 before:bg-green before:w-full before:h-full before:absolute-center after:z-0 after:absolute-center after:w-full after:h-full after:pointer-events-none after:border-2 after:border-green/0 after:scale-150 after:transition-all after:duration-300 hover:before:scale-50 hover:before:bg-green/0 hover:after:border-purple hover:after:scale-100 hover:text-purple"
              >
                <span class="relative">{{ .services.button }}</span>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="relative mt-12 px-4">
        <div
          class="container py-12 text-center flex flex-col-reverse md:text-left md:flex-row gap-12 bg-purple-dark max-w-6xl rounded-[50px] mx-auto "
        >
          <div class="w-full pt-24 md:pt-0 md:w-1/2">
            <h2 class="text-4xl text-white font-bold">
              {{ .go.title | safeHTML }}
            </h2>
            <p class="mt-4 text-white/90 text-md leading-loose">
              {{ .go.content | safeHTML }}
            </p>
          </div>
          <div class="flex-1 relative z-10">
            <img
              src="/img/gokenstein.svg"
              alt=""
              class="w-full absolute max-w-sm left-1/2 -translate-x-1/2 -top-36 md:max-w-none md:left-0 md:translate-x-0 md:top-auto md:-bottom-24"
            />
          </div>
        </div>
      </section>
      <section class="py-24">
        <div class="container text-center relative max-w-6xl px-12">
          <h2
            class="text-4xl font-bold pb-2 mb-8 text-purple leading-tight relative after:w-20 after:rounded-full after:absolute after:bg-green after:h-1 after:left-1/2 after:-translate-x-1/2 after:top-full"
          >
            {{ .further.title | safeHTML }}
          </h2>
          <p class="mt-4 text-md font-bold text-purple">
            {{ .further.subtitle | safeHTML }}
          </p>
          <div
            class="grid grid-cols-1 gap-20 mt-12 | sm:grid-cols-2 | lg:grid-cols-3"
          >
            {{ with .further.content }}
              {{ range $index, $element := . }}
                <div class="flex flex-col items-center text-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    class="w-12 h-12 bg-purple-dark fill-green p-2 rounded-full"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M14.615 1.595a.75.75 0 01.359.852L12.982 9.75h7.268a.75.75 0 01.548 1.262l-10.5 11.25a.75.75 0 01-1.272-.71l1.992-7.302H3.75a.75.75 0 01-.548-1.262l10.5-11.25a.75.75 0 01.913-.143z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <h3 class="text-xl font-bold text-purple my-3">
                    {{ $element.title }}
                  </h3>
                  <p class="text-sm">{{ $element.content }}</p>
                </div>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </section>
    </div>
  {{ end }}
{{ end }}
