<script>
  function handleChange(checkbox) {
    if (checkbox.checked == true) {
      document.body.classList.add("overflow-y-hidden");
    } else {
      document.body.classList.remove("overflow-y-hidden");
    }
  }
</script>

<input
  class="invisible absolute pointer-events-none peer"
  type="checkbox"
  name="hamburger-toggle"
  id="hamburger-toggle"
  aria-label="Toggle Navigation"
  onchange="handleChange(this);"
/>
<header
  class="{{ if .IsHome }}
    absolute text-white
  {{ else }}
    bg-white/75 fixed top-0 backdrop-blur-sm text-purple shadow-header border-b
    border-gray-300
  {{ end }} left-0 z-30 w-full top-0 group"
>

      <!--<a
      href="https://api-platform.com/con"
        rel="noopener noreferrer"
        target="_blank"
        class="hidden lg:flex bg-purple-dark bg-conf-gradient text-xs font-normal border-b-2 border-b-green z-50 text-white gap-4 h-10 w-full relative items-center justify-center"
      >
      <div class="animate-defile-top h-full absolute min-w-max flex flex-row items-center justify-center top-0 left-0 flex-nowrap">
      <div class="flex gap-4 items-center justify-center px-20">
              <span class="font-semibold text-sm uppercase">API Platform Conference 2024</span>
          <span>Sep 19-20, 2024</span>
         <span>Join FrankenPHP creators, contributors, and speakers in Lille, France, or online.</span>
      </div>
      <div class="flex gap-4 items-center justify-center px-20">
              <span class="font-semibold text-sm uppercase">API Platform Conference 2024</span>
          <span>Sep 19-20, 2024</span>
         <span>Join FrankenPHP creators, contributors, and speakers in Lille, France, or online.</span>
      </div>
      <div class="flex gap-4 items-center justify-center px-20">
              <span class="font-semibold text-sm uppercase">API Platform Conference 2024</span>
          <span>Sep 19-20, 2024</span>
         <span>Join FrankenPHP creators, contributors, and speakers in Lille, France, or online.</span>
      </div>
      </div>
      </a>-->
      {{if ne .Lang "en" }}
      <a
      href="{{ range .Translations }}
  {{ if eq .Lang "en" }}
    {{ .Permalink }}
  {{ end }}
{{ end }}"
        rel="noopener noreferrer"
        target="_blank"
        class="flex bg-purple text-xs font-normal border-b-2 border-b-green z-50 text-white gap-4 h-10 w-full relative items-center justify-center"
      >
      <div class="animate-defile-top lg:animate-none lg:w-full h-full absolute min-w-max flex flex-row items-center justify-center top-0 left-0 flex-nowrap">
      <div class="w-full flex gap-2 items-center justify-center px-20">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
</svg>
<p>{{ i18n "nav.official" | safeHTML }}</p>
      </div>
      <div class="w-full lg:hidden flex gap-2 items-center justify-center px-20">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
</svg>
<p>{{ i18n "nav.official" | safeHTML }}</p>
      </div>
      <div class="w-full lg:hidden flex gap-2 items-center justify-center px-20">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
</svg>
<p>{{ i18n "nav.official" | safeHTML }}</p>
      </div>
      </div>
      </a>
      {{ end }}
  <div
    class="h-16 p-4 mx-auto flex flex-row items-center justify-end max-w-8xl"
  >
    <a href="{{ relLangURL "/" }}" class="block h-6 mr-auto" aria-label="Home">
      {{ partial "logo.html" . }}
    </a>
    <div class="mr-4">
      <div id="docsearch" placeholder="Search"></div>
    </div>
    <div class="hidden lg:flex flex-row items-center gap-4">
      {{ partial "menu.html" . }}
    </div>
    <div>
      <div class="w-7 h-5 lg:hidden"></div>
      <!-- hamburger button space-->
    </div>
  </div>
  <!-- sidebar menu end-->
</header>
<label
  for="hamburger-toggle"
  class="font-[0px] fixed inset-0 backdrop-blur-sm z-30 bg-purple-dark/60 transition-all duration-500 opacity-0 pointer-events-none peer-checked:opacity-100 peer-checked:pointer-events-auto"
>
  <span class="-left-screen absolute text-[0] scale-0 pointer-events-none">
    Toggle navigation
  </span>
</label>
<div
  class="
            fixed z-50 inset-y-0 transition-all duration-500 left-full top-0 w-5/6 max-w-md bg-white shadow-md text-purple flex flex-col
            peer-checked:-translate-x-full peer-checked:shadow-xl
            lg:hidden
            "
>
  {{ partial "menu.html" . }}
</div>
<div class="fixed {{ if eq .Lang "en" }} top-[22px] {{ else }} top-[62px] {{end}} right-5 z-50 group">
  <label
    for="hamburger-toggle"
    class="{{ if .IsHome }}
      before:bg-purple-dark/50 before:w-10 before:h-10 before:z-0
      before:rounded-full before:absolute
      peer-checked:group-[]:before:bg-transparent
    {{ end }} 
        group w-7 h-5 flex relative items-center justify-center z-50 cursor-pointer lg:hidden"
  >
    <div
      class="{{ if .IsHome }}
        bg-white after:bg-white before:bg-white peer-checked:group-[]:bg-purple
        peer-checked:group-[]:after:bg-purple
        peer-checked:group-[]:before:bg-purple
      {{ else }}
        bg-purple before:bg-purple after:bg-purple
      {{ end }} 
        z-50 h-0.75 transition-all w-8
        after:absolute after:w-full after:left-1/2 after:h-0.75 after:-translate-x-1/2 after:transition-all after:bottom-0
        before:absolute before:w-full before:h-0.75 before:left-1/2 before:-translate-x-1/2 before:transition-all before:top-0
        peer-checked:group-[]:w-0 peer-checked:group-[]:transition-none peer-checked:group-[]:before:top-1/2 peer-checked:group-[]:after:top-1/2 peer-checked:group-[]:before:-rotate-45 peer-checked:group-[]:before:-translate-y-1/2 peer-checked:group-[]:after:rotate-45 peer-checked:group-[]:after:-translate-y-1/2"
    ></div>
    <span class="-left-screen absolute text-[0] scale-0 pointer-events-none">
      Toggle navigation
    </span>
  </label>
</div>
