
{{ with index .Site.Data .Site.Language.Lang "home" "modern" }}
  <section id="modern" class="py-12 lg:py-24 px-4">
    <div
      class="container relative max-w-6xl bg-gray-100 py-12 rounded-[50px] px-8 lg:px-14 overflow-hidden"
    >
      <div
        class="flex flex-col gap-24 items-center justify-center lg:flex-row relative lg:gap-40"
      >
        <div class="flex-1 relative z-10">
          <div
            class="text-lg uppercase mb-2 text-purple-light text-center lg:text-left"
          >
            {{ .overtitle }}
          </div>
          <h2
            class="text-5xl font-bold mb-8 text-purple leading-tight text-center lg:text-left"
          >
            {{ .title | safeHTML }}
          </h2>
          <ul class="text-base font-light">
            {{ with .content }}
              {{ range . }}
                <li class="my-3 px-2 py-1 flex flex-row gap-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    class="w-8 h-8 bg-purple-dark fill-green p-2 rounded-full"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M14.615 1.595a.75.75 0 01.359.852L12.982 9.75h7.268a.75.75 0 01.548 1.262l-10.5 11.25a.75.75 0 01-1.272-.71l1.992-7.302H3.75a.75.75 0 01-.548-1.262l10.5-11.25a.75.75 0 01.913-.143z"
                      clip-rule="evenodd"
                    />
                  </svg>

                  <span class="flex-1">{{ . | markdownify }}</span>
                </li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
        <div
          class="relative w-full max-w-xs h-full lg:w-1/2 lg:max-w-sm pointer-events-none"
        >
          <span id="dab-full" />
          <svg
            id="shape"
            viewBox="0 0 194.14 150.39"
            class="fill-purple-extralight absolute z-10 w-full h-full left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 scale-[160%] max-w-none transition-all duration-300 ease-in-out"
          >
            <path
              d="m151.22,18.91c-4.08-.25-8.06.04-11.86.8-7.58,1.52-15.41-.67-21.43-5.51-7.84-6.3-17.8-10.07-28.64-10.07-4.75,0-9.34.73-13.65,2.07-6.7,2.09-13.89,1.27-20.12-1.96C50.29,1.53,44.34,0,38.04,0,17.03,0,0,17.03,0,38.04s13.77,30.45,24.99,34.69c6.88,2.6,11.09,9.74,9.87,17-.61,3.64-.84,7.4-.65,11.25,1.31,26.76,23.19,48.37,49.97,49.37,21.95.82,41.01-11.96,49.43-30.58,2.6-5.74,8.35-9.4,14.65-9.39h.12c25.84,0,46.69-21.42,45.75-47.47-.84-23.35-19.56-42.57-42.89-44Z"
            />
          </svg>

          <img
            id="dab"
            src="/img/dab.svg"
            class="transition-all duration-500 relative z-10 translate-y-0"
            alt=""
          />
          <div
            id="shape2"
            class="hidden lg:block rotate-45 rounded-full absolute z-0 left-full -translate-x-2/4 top-1/2 -translate-y-2/3 w-[150%] h-[200%] bg-green-light"
          ></div>
        </div>
      </div>
      <div class="text-center">
        <a
          href="{{ relLangURL .link.url }}"
          rel="noreferrer noopener"
          class="mt-12 relative text-purple text-lg py-2 mx-auto  lg:mt-4 px-4 inline-block font-bold transition-all duration-300 before:pointer-events-none before:transition-all before:duration-300 before:z-0 before:bg-green before:w-full before:h-full before:absolute-center after:z-0 after:absolute-center after:w-full after:h-full after:pointer-events-none after:border-2 after:border-green/0 after:scale-150 after:transition-all after:duration-300 hover:before:scale-50 hover:before:bg-green/0 hover:after:border-green hover:after:scale-100 hover:text-green"
        >
          <span class="relative">{{ .link.text }}</span>
        </a>
      </div>
    </div>
  </section>
{{ end }}
